/*
Error: Invalid CSS after "#diamonds {": expected "}", was "/*@include diam..."
        on line 403 of C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/_visual_section.scss
        from line 5 of C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/game_section.scss

398: }
399: 
400: 
401: #diamonds {
402:   
403:   /*@include diamond-grid-breakpoint-color-animations($query: $diamondQuery0, $maxRow: 5);
404:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery8, $maxRow: 4);
405:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery12, $maxRow: 3);
406:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery16, $maxRow: 2);
407: }

Backtrace:
C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/_visual_section.scss:403
C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/game_section.scss:5
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:643:in `block'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2412:in `map'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/C:/PHPProjects/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/PHPProjects/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
C:/PHPProjects/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
C:/PHPProjects/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
C:/PHPProjects/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/PHPProjects/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#diamonds {\": expected \"}\", was \"/*@include diam...\"\A         on line 403 of C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/_visual_section.scss\A         from line 5 of C:/PHPProjects/KathartikWebsitePHPCopy/libs/compass-sass-bootstrap/sass/game_section.scss\A \A 398: }\A 399: \A 400: \A 401: #diamonds {\A 402:   \A 403:   /*@include diamond-grid-breakpoint-color-animations($query: $diamondQuery0, $maxRow: 5);\A 404:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery8, $maxRow: 4);\A 405:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery12, $maxRow: 3);\A 406:   @include diamond-grid-breakpoint-color-animations($query: $diamondQuery16, $maxRow: 2);\A 407: }"; }
