
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}




/* @group diamonds */
/*$diamondSize: 190px;*/
$belowDiamondSize: 160px;
$diamondQuery0: '(min-width: 1889px)'; /*1887*/
$diamondQuery1: '(max-width: 1888px) and (min-width: 1822px)';
$diamondQuery2: '(max-width: 1821px) and (min-width: 1754px)';
$diamondQuery3: '(max-width: 1753px) and (min-width: 1686px)';
$diamondQuery4: '(max-width: 1685px) and (min-width: 1618px)';
$diamondQuery5: '(max-width: 1617px) and (min-width: 1551px)';
$diamondQuery6: '(max-width: 1550px) and (min-width: 1483px)';
$diamondQuery7: '(max-width: 1482px) and (min-width: 1416px)';
$diamondQuery8: '(max-width: 1415px) and (min-width: 1348px)';
$diamondQuery9: '(max-width: 1347px) and (min-width: 1281px)';
$diamondQuery10: '(max-width: 1280px) and (min-width: 1213px)';
$diamondQuery11: '(max-width: 1212px) and (min-width: 1146px)';
$diamondQuery12: '(max-width: 1145px) and (min-width: 1078px)';
$diamondQuery13: '(max-width: 1077px) and (min-width: 942px)';
$diamondQuery14: '(max-width: 942px) and (min-width: 876px)';
$diamondQuery15: '(max-width: 875px) and (min-width: 808px)';
$diamondQuery16: '(max-width: 807px) and (min-width: 743px)';
$diamondQuery17: '(max-width: 742px) and (min-width: 674px)';
$diamondQuery18: '(max-width: 673px) and (min-width: 538px)';

$belowDiamond: '(max-width: 537px)';

