

button {
  background: red !important;
}

#diamonds {

      .prevent_iframe_click.actualPositionCell {
        
        background-image: url("../../../res/img/adventurer.png");
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;
        
      }
            
      .startPoint {
        
        background-color: rgba(150,255,150,0.7) !important;
      }
      
      .actualPositionCell {
        
        /*background-color: rgba(150,150,255,1);*/
        
        box-shadow: 2px 0 23px 11px white, 2px 0 6px rgba(30, 144, 255, 1), inset 0px 0 68px 3px rgba(255, 255, 255, 1);
      
        border: 8px solid rgba(255,255,255,0.5);
        
      }
          
      .normalCell {
        
        background-color: rgba(255,150,150,0.2);
      }
      
      .treasureChest {
        
        background-color: rgba(128,96,0,1);
        
        background-image: url("../../../res/img/treasureChest.png");
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-position: center;
        
      }
      
      .blockingWall {
        
        background-color: rgba(0,0,0,0.8);
      }
      
      .lockedDoor {
        
        background-color: rgba(51, 26, 0, 0.7);
        
        background-image: url("../../../res/img/lockedDoor.png");
        background-repeat: no-repeat;
        background-size:contain;
        
        
      }
      
      .smallKey {
        
        background-color: rgba(128,96,0,0.6);
        
        background-image: url("../../../res/img/smallKey.png");
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: center;
        
        
      }
      
      .treasureKey {
        
         background-color: rgba(128,96,0,0.8);
         
         background-image: url("../../../res/img/treasureKey.png");
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: center;
        
      }
                  
  }
  
#playful_mode_hud {
        
  position:fixed;
  width:50%;
  height:120px;
  top:20px;
  left:25%;
    
  pointer-events: none;
}


.inventory_slot {
  
  height:100%;
  
}

.smallKey_object {
  
  width:100%;
  height:100%;
  
  background-repeat: no-repeat;
  background-size: contain;
  
  background-image: url("../../../res/img/smallKey.png");
}

.treasureKey_object {
  
  width:100%;
  height:100%;
  
  background-repeat: no-repeat;
  background-size: contain;
  
  background-image: url("../../../res/img/treasureKey.png");
}

.objectNotTaken {
  
  opacity:0.1;
}
.objectTaken {
  
  opacity:1;
}




