

/* Random color functions end */
/* Random color change in cells */


/* Random color functions start */
  
  @function randomizeColor(){
  $color: (
    octal: (
      red: random(256)-1,
      green: random(256)-1,
      blue: random(256)-1
    ),
    percent: (
      red: random(101)-1,
      green: random(101)-1,
      blue: random(101)-1,
      saturation: random(101)-1,
      light: random(101)-1
    ),
    deg: (
      hue: random(361)-1
    ),
    fraction: (
      alpha: random(20)/100 + 0.4 //Makes them always be at least 0.4 visible
    )
  );
  @return $color;
}

@function color($base, $component) {
  $color: randomizeColor();
  @return map-get(map-get($color, $base), $component);
}

@function getRandomColor($format: NULL) {
  @if $format == "hex" {
    @return rgb(color(octal, red), color(octal, green), color(octal, blue));
  }
  @else if $format == "rgb" { 
    @return unquote("rgb(#{color(octal, red)}, #{color(octal, green)}, #{color(octal, blue)})");
  }
  @else if $format == "%rgb" { 
    @return unquote("rgb(#{color(percent, red)}%, #{color(percent, green)}%, #{color(percent, blue)}%)");
  }
  @else if $format == "rgba" { 
    @return unquote("rgba(#{color(octal, red)}, #{color(octal, green)}, #{color(octal, blue)}, #{color(fraction, alpha)})");
  }
  @else if $format == "%rgba" { 
    @return unquote("rgba(#{color(percent, red)}%, #{color(percent, green)}%, #{color(percent, blue)}%, #{color(fraction, alpha)})");
  }
  @else if $format == "hsl" { 
    @return unquote("hsl(#{color(deg, hue)}, #{color(percent, saturation)}%, #{color(percent, light)}%)");
  }
  @else if $format == "hsla" { 
    @return unquote("hsla(#{color(deg, hue)}, #{color(percent, saturation)}%, #{color(percent, light)}%, #{color(fraction, alpha)})");
  }
  @else { 
    @return nth($named-colors, random(147));
  }
}

/*Create shifted lists of 20 colors */

/* Shifts contents of an array by a certain int amount and retuns the new, shifted list  */
@function shiftList($shift,$old_list){
  
  $random_color_list: ();

  $shift: $shift % (length($old_list) - 1);

  @for $i from 1 through length($old_list) {
       
       @if($i < $shift+1)
       {
         $random_color_list: append($random_color_list, nth($old_list, length($old_list) -$shift + $i), space);
       }
       /*@else if($i > length($random_color_list0) - $shift)
       {
         //$random_color_list: append($random_color_list, nth($old_list, $i), space);
         $random_color_list: append($random_color_list, nth($old_list, ($i + $shift) % length($random_color_list0)), space);
       }*/
       @else
       {
         //$random_color_list: append($random_color_list, nth($old_list, $i), space);
         $random_color_list: append($random_color_list, nth($old_list, $i - $shift), space);
       }
  }
  
  @return $random_color_list;
}


/* Disco pattern*/
@for $i from 0 through 0 {

  $randomColor: getRandomColor("%rgba");

  .visualCell-random-color-change-disco#{$i}{
    animation: visualCellRandomColorChangeDisco#{$i} ease 60s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; 
    -webkit-animation: visualCellRandomColorChangeDisco#{$i} ease 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation: visualCellRandomColorChangeDisco#{$i} ease 60s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; 
    -o-animation: visualCellRandomColorChangeDisco#{$i} ease 60s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; 
    -ms-animation: visualCellRandomColorChangeDisco#{$i} ease 60s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; 
    
  }
  
  @keyframes visualCellRandomColorChangeDisco#{$i}{
    
    0% {
      background-color: $randomColor;
    }
    5% {
      background-color: getRandomColor("%rgba"); 
    }
    10% {
      background-color: getRandomColor("%rgba");
    }
    15% {
      background-color: getRandomColor("%rgba");
    }
    20% {
      background-color: getRandomColor("%rgba");
    }
    25% {
      background-color: getRandomColor("%rgba");
    }
    30% {
      background-color: getRandomColor("%rgba");
    }
    35% {
      background-color: getRandomColor("%rgba");
    }
    40% {
      background-color: getRandomColor("%rgba");
    }
    45% {
      background-color: getRandomColor("%rgba");
    }
    50% {
      background-color: getRandomColor("%rgba");
    }
    55% {
      background-color: getRandomColor("%rgba");
    }
    60% {
      background-color: getRandomColor("%rgba");
    }
    65% {
      background-color: getRandomColor("%rgba");
    }
    70% {
      background-color: getRandomColor("%rgba");
    }
    75% {
      background-color: getRandomColor("%rgba");
    }
    80% {
      background-color: getRandomColor("%rgba");
    }
    85% {
      background-color: getRandomColor("%rgba");
    }
    90% {
      background-color: getRandomColor("%rgba");
    }
    95% {
      background-color: getRandomColor("%rgba");
    }
    100% {
      background-color: rgba(255,100,155,0.5);
    }
  }
  
  @-moz-keyframes visualCellRandomColorChange{
    0% {
      background-color: red; 
    }
    100% {
      background-color: blue; 
    }
  }
  
  @-webkit-keyframes visualCellRandomColorChange {
    0% {
      background-color: red; 
    }
    100% {
      background-color: blue; 
    }
  }
  
  @-o-keyframes visualCellRandomColorChange {
    0% {
      background-color: red; 
    }
    100% {
      background-color: blue; 
    }
  }
  
  @-ms-keyframes visualCellRandomColorChange {
    0% {
      background-color: red; 
    }
    100% {
      background-color: blue; 
    }
  }
}


/* Per row change pattern ; Color rolls from one to the next ; Related variations ; */

/*Using the same mixin to create random colours per row too*/

@mixin respond-to($query) {
    @media only screen and #{$query}  {
      @content
    }
  }

@mixin diamond-grid-breakpoint-color-animations($query, $maxRow) {
    @include respond-to(#{$query}) {

      /* Creating lists of colors and shifting them per row */ 

      /* Palettes corrected using https://gka.github.io/palettes/#colors=#edd9c0,#c9d8c5,#a8b6bf,#7d4627|steps=10|bez=1|coL=1*/

      $color_palettes_list: #c5d5cb #bcc9c0 #b9c4bc #bcc4bb #c3c8bf #cccfc5 #d6d7ce #e0e0d8 #e8e8e3 #eeeeee #eeeeee #e8e8e3 #e0e0d8 #d6d7ce #cccfc5 #c3c8bf #bcc4bb #b9c4bc #bcc9c0 #c5d5cb,
      #c0dfd9 #bdc8c2 #abb5b0 #9aa29d #898f8b #787d79 #686c68 #585a57 #4a4a46 #3b3a36 #3b3a36 #4a4a46 #585a57 #686c68 #787d79 #898f8b #9aa29d #abb5b0 #bdc8c2 #c0dfd9,
      #edd9c0 #cccdbd #bdbdb1 #b2aca1 #a99a8f #a0897b #997867 #906852 #87573c #7d4627 #7d4627 #87573c #906852 #997867 #a0897b #a99a8f #b2aca1 #bdbdb1 #cccdbd #edd9c0,
      #6ed3cf #77c7cd #81bbcc #90accb #e98387 #ec7473 #ec6463 #eb5254 #e93f46 #e62739 #e62739 #e93f46 #eb5254 #ec6463 #ec7473 #e98387 #90accb #81bbcc #77c7cd #6ed3cf,
      #dddfd4 #bed0a0 #8dc1a6 #4eb3ab #399e9c #328a89 #2b7676 #246365 #1e5053 #173e43 #173e43 #1e5053 #246365 #2b7676 #328a89 #399e9c #4eb3ab #8dc1a6 #bed0a0 #dddfd4,
      #6534ff #6b4bfe #725ffd #7a6efc #847ffa #8e8df7 #9a9bf4 #a9a8ef #b8b5eb #bbc4ef #bbc4ef #b8b5eb #a9a8ef #9a9bf4 #8e8df7 #847ffa #7a6efc #725ffd #6b4bfe #6534ff,
      #333333 #424242 #515151 #616161 #727272 #848484 #959595 #a7a7a7 #bababa #cccccc #cccccc #bababa #a7a7a7 #959595 #848484 #727272 #616161 #515151 #424242 #333333;
     
      $random_color_list_original:();
         
      $random_color_lists:();
      
      
      /*Create original random color list*/
      @for $i from 0 through 20 {
        /*With random colors per row*/
        /*$random_color_list_original: append($random_color_list_original, getRandomColor("%rgba"), space);*/
        /*With sensible color choices (minimal variation, color scale)*/
        $random_color_list_original: append($random_color_list_original, getRandomColor("%rgba"), space);
      }
      
      $random_color_palette: nth($color_palettes_list, random(length($color_palettes_list)));
            
      $row_index: 0;
      $column_index: 0;
            
      @for $i from 0 through 20 {
      
          @if $row_index % 2 == 0 {
            
            @if $column_index == $maxRow {
            
              $row_index: $row_index + 1;
              $column_index: 0;
              $randomColor: getRandomColor("%rgba");               
            }          
                        
          } @else
          {
            @if $column_index == $maxRow - 1 {
            
              $row_index: $row_index + 1;
              $column_index: 0;
              $randomColor: getRandomColor("%rgba"); 
              
            }             
           
          }    
                    
         @if($column_index == 0) {
           
              $new_random_color_list: shiftList($row_index,$random_color_list_original);
        
              $random_color_lists: append($random_color_lists, $new_random_color_list, comma);
          
              .visualCell-random-color-change-per-row#{$row_index}{
              animation: visualCellRandomColorChangePerRow#{$row_index} ease 60s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              animation-fill-mode:forwards; /*when the spec is finished*/
              -webkit-animation: visualCellRandomColorChangePerRow#{$row_index} ease 30s;
              -webkit-animation-iteration-count: infinite;
              -webkit-transform-origin: 50% 50%;
              -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
              -moz-animation: visualCellRandomColorChangePerRow#{$row_index} ease 60s;
              -moz-animation-iteration-count: infinite;
              -moz-transform-origin: 50% 50%;
              -moz-animation-fill-mode:forwards; /*FF 5+*/
              -o-animation: visualCellRandomColorChangePerRow#{$row_index} ease 60s;
              -o-animation-iteration-count: infinite;
              -o-transform-origin: 50% 50%;
              -o-animation-fill-mode:forwards; /*Not implemented yet*/
              -ms-animation: visualCellRandomColorChangePerRow#{$row_index} ease 60s;
              -ms-animation-iteration-count: infinite;
              -ms-transform-origin: 50% 50%;
              -ms-animation-fill-mode:forwards; /*IE 10+*/
              
            }
            
            @keyframes visualCellRandomColorChangePerRow#{$row_index}{
              
              0% {
                background-color: nth($new_random_color_list, 1);
              }
              5% {
                background-color: nth($new_random_color_list, 2);
              }
              10% {
                background-color: nth($new_random_color_list, 3);
              }
              15% {
                background-color: nth($new_random_color_list, 4);
              }
              20% {
                background-color: nth($new_random_color_list, 5);
              }
              25% {
                background-color: nth($new_random_color_list, 6);
              }
              30% {
                background-color: nth($new_random_color_list, 7);
              }
              35% {
                background-color: nth($new_random_color_list, 8);
              }
              40% {
                background-color: nth($new_random_color_list, 9);
              }
              45% {
                background-color: nth($new_random_color_list, 10);
              }
              50% {
                background-color: nth($new_random_color_list, 11);
              }
              55% {
                background-color: nth($new_random_color_list, 12);
              }
              60% {
                background-color: nth($new_random_color_list, 13);
              }
              65% {
                background-color: nth($new_random_color_list, 14);
              }
              70% {
                background-color: nth($new_random_color_list, 15);
              }
              75% {
                background-color: nth($new_random_color_list, 16);
              }
              80% {
                background-color: nth($new_random_color_list, 17);
              }
              85% {
                background-color: nth($new_random_color_list, 18);
              }
              90% {
                background-color: nth($new_random_color_list, 19);
              }
              95% {
                background-color: nth($new_random_color_list, 20);
              }
              100% {
                background-color: nth($new_random_color_list, 1);
              }
            }
            
            @-moz-keyframes visualCellRandomColorChangePerRow{
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-webkit-keyframes visualCellRandomColorChangePerRow {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-o-keyframes visualCellRandomColorChangePerRow {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-ms-keyframes visualCellRandomColorChangePerRow {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
         
          $random_color_lists_balanced: ();
          
          $new_random_color_list: shiftList($row_index,$random_color_palette);
        
          $random_color_lists: append($random_color_lists, $new_random_color_list, comma);
          
          .visualCell-random-color-change-balanced-rows#{$row_index}{
              animation: visualCellRandomColorChangeBalancedRows#{$row_index} ease 60s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              animation-fill-mode:forwards; /*when the spec is finished*/
              -webkit-animation: visualCellRandomColorChangeBalancedRows#{$row_index} ease 30s;
              -webkit-animation-iteration-count: infinite;
              -webkit-transform-origin: 50% 50%;
              -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
              -moz-animation: visualCellRandomColorChangeBalancedRows#{$row_index} ease 60s;
              -moz-animation-iteration-count: infinite;
              -moz-transform-origin: 50% 50%;
              -moz-animation-fill-mode:forwards; /*FF 5+*/
              -o-animation: visualCellRandomColorChangeBalancedRows#{$row_index} ease 60s;
              -o-animation-iteration-count: infinite;
              -o-transform-origin: 50% 50%;
              -o-animation-fill-mode:forwards; /*Not implemented yet*/
              -ms-animation: visualCellRandomColorChangeBalancedRows#{$row_index} ease 60s;
              -ms-animation-iteration-count: infinite;
              -ms-transform-origin: 50% 50%;
              -ms-animation-fill-mode:forwards; /*IE 10+*/
              
            }
            
            @keyframes visualCellRandomColorChangeBalancedRows#{$row_index}{
              
              0% {
                background-color: nth($new_random_color_list, 1);
              }
              5% {
                background-color: nth($new_random_color_list, 2);
              }
              10% {
                background-color: nth($new_random_color_list, 3);
              }
              15% {
                background-color: nth($new_random_color_list, 4);
              }
              20% {
                background-color: nth($new_random_color_list, 5);
              }
              25% {
                background-color: nth($new_random_color_list, 6);
              }
              30% {
                background-color: nth($new_random_color_list, 7);
              }
              35% {
                background-color: nth($new_random_color_list, 8);
              }
              40% {
                background-color: nth($new_random_color_list, 9);
              }
              45% {
                background-color: nth($new_random_color_list, 10);
              }
              50% {
                background-color: nth($new_random_color_list, 11);
              }
              55% {
                background-color: nth($new_random_color_list, 12);
              }
              60% {
                background-color: nth($new_random_color_list, 13);
              }
              65% {
                background-color: nth($new_random_color_list, 14);
              }
              70% {
                background-color: nth($new_random_color_list, 15);
              }
              75% {
                background-color: nth($new_random_color_list, 16);
              }
              80% {
                background-color: nth($new_random_color_list, 17);
              }
              85% {
                background-color: nth($new_random_color_list, 18);
              }
              90% {
                background-color: nth($new_random_color_list, 19);
              }
              95% {
                background-color: nth($new_random_color_list, 20);
              }
              100% {
                background-color: nth($new_random_color_list, 1);
              }
            }
            
            @-moz-keyframes visualCellRandomColorChangeBalancedRows{
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-webkit-keyframes visualCellRandomColorChangeBalancedRows {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-o-keyframes visualCellRandomColorChangeBalancedRows {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
            
            @-ms-keyframes visualCellRandomColorChangeBalancedRows {
              0% {
                background-color: red; 
              }
              100% {
                background-color: blue; 
              }
            }
          
          }
          $column_index: $column_index + 1;
          
        }
       
    }
}


/* Chasing tiles / domino */



/* Rainbow choice */



/* Element definitions and mixin calls */



/* Visual cell color animation. */

.visualCell {
  
    background-color: rgba(150,255,150,0.7);
}

.visualCell:hover {
    background-color: rgba(255,150,150,0.2);
}


#diamonds {
  
  @include diamond-grid-breakpoint-color-animations($query: $diamondQuery0, $maxRow: 5);
  @include diamond-grid-breakpoint-color-animations($query: $diamondQuery8, $maxRow: 4);
  @include diamond-grid-breakpoint-color-animations($query: $diamondQuery12, $maxRow: 3);
  @include diamond-grid-breakpoint-color-animations($query: $diamondQuery16, $maxRow: 2);
}
