@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import "common_functions_and_vars";
@import "visual_section";
@import "game_section";

body {
  
  background: black;
}

/* @group mixins */
  @mixin respond-to($query) {
    @media only screen and #{$query}  {
      @content
    }
  }

  @mixin diamond-grid-breakpoint($query, $maxWidth, $maxRow) {
    @include respond-to(#{$query}) {
      
      $diamondSize: $maxWidth / $maxRow;     
      
      $hipotenuse: sqrt($diamondSize * $diamondSize * 2);
      $half_hipotenuse: $hipotenuse / 2;
      
      $correctedWidth: $hipotenuse * $maxRow;
      
      
      //This attributes refer to diamonds. #diamonds is the scope!
      
               
      .csstransforms & {
        /*max-width: $correctedWidth;*/
        
        
       
        .diamond {
          height: $diamondSize;
          width: $diamondSize;
        }
        
        .content {
          
          height: $hipotenuse; //Correcting size of content to center inside the external diamond
          width: $hipotenuse;
          
          margin-top: -($hipotenuse - $diamondSize)/2; //Correcting position of content to center inside the external diamond
          margin-left: -($hipotenuse - $diamondSize)/2; 
          
          
          /*margin-top: -$hipotenuse/3;
          margin-left: -$hipotenuse/3;*/
                   
        }
        
        .middle_text {
          
          line-height: #{$hipotenuse}px;
        }
        
        $row_index: 0;
        $column_index: 0;

        @for $i from 0 through 20 {
           
           $left_value: 0;
           
           @if $row_index % 2 == 0 {
            
            @if $column_index == $maxRow {
            
              $row_index: $row_index + 1;
              $column_index: 0;
              
              $left_value: $hipotenuse * $column_index + $half_hipotenuse;
              
            } @else {
              
              $left_value: $hipotenuse * $column_index;
            }
            
            
            
          } @else
          {
            @if $column_index == $maxRow - 1 {
            
              $row_index: $row_index + 1;
              $column_index: 0;
              
              $left_value: $hipotenuse * $column_index;
              
            } @else {
              
               $left_value: $hipotenuse * $column_index + $half_hipotenuse;
            }
            
           
          }    
          
           $top_value: $row_index * $half_hipotenuse; 
                                
          #diamond-index-#{$i} {
            
            top: $top_value;
            left: $left_value;
                        
          }
          
          $column_index: $column_index + 1;
          
        }
        
        /*height: ($row_index * $diamondSize) - $half_hipotenuse;*/
        height:80%;
        width: $correctedWidth;
       
        /*background:red !important;*/
         
        /*margin-bottom: 70px; */
       
      } 
    }
  }
/* @end */

/*#visual_diamonds_container {
  
    position: absolute;
    
    width: 100%;
    height: 99%;
    margin: 0;
    top: 8%;
    left: 5%;
  
}*/





#diamonds {
      
    position: absolute;
        
    /*top: 50px;*/
    top: 50px;
    left: 100px;  
      
    font: Helvetica, Arial, sans-serif;
    font-size: 0;
    margin: 40px auto;

    /*@include diamond-grid-breakpoint($query: $diamondQuery1, $maxWidth: 1270px, $n: 9, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery2, $maxWidth: 1000px, $n: 7, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery3, $maxWidth: 730px, $n: 5, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery4, $maxWidth: 460px, $n: 3, $maxRow: 2);*/
   
    @include diamond-grid-breakpoint($query: $diamondQuery0, $maxWidth: 1260, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery1, $maxWidth: 1210, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery2, $maxWidth: 1160, $maxRow: 5); //
    @include diamond-grid-breakpoint($query: $diamondQuery3, $maxWidth: 1120, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery4, $maxWidth: 1080, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery5, $maxWidth: 990, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery6, $maxWidth: 950, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery7, $maxWidth: 900, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery8, $maxWidth: 860, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery9, $maxWidth: 800, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery10, $maxWidth: 780, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery11, $maxWidth: 730, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery12, $maxWidth: 700, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery13, $maxWidth: 640, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery14, $maxWidth: 520, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery15, $maxWidth: 470, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery16, $maxWidth: 470, $maxRow: 2);
    @include diamond-grid-breakpoint($query: $diamondQuery17, $maxWidth: 400, $maxRow: 2);
    @include diamond-grid-breakpoint($query: $diamondQuery18, $maxWidth: 400, $maxRow: 2);
    
    
    .csstransforms & {
      padding: 39px 0;

      @include respond-to($belowDiamond) {
        padding: 0;
        text-align: center;
      }
    }

    .no-csstransforms & {
      max-width: 1060px;
    }

    > .diamond {
      position:absolute;
      display: inline-block;
      font-size: 18px;

      @include respond-to($belowDiamond) {
        
        width: $belowDiamondSize;
      }

    }

    .diamond {
      @include backface-visibility(hidden);

      @include box-shadow(0 0 0 1px #ccc);
      color: #000;
      display: block;
      
      position:absolute;
      
      overflow: hidden;
      @include perspective(1000);
 
      text-decoration: none;

      .csstransforms & {
        overflow: hidden;
        @include rotate(-45deg);

        @include respond-to($belowDiamond) {
          height: $belowDiamondSize;
          @include rotate(0);
          width: $belowDiamondSize;
        }
      }
      
      transition: all 1s;
      
      /*background: rgba(20,20,20,0.10);*/
      
      //2px 0 23px 4px white, 2px 0 5px rgba(30, 144, 255, 0.5), inset 0px 0 2px 2px rgba(30, 144, 255, 0.5)
      
    }
    
    .diamond:hover {
      
            
    }
    
    .diamond.activateContent.hasSiteContent {
       
        position:fixed;
       
        z-index: 2;
       
        top:0 !important;
        left:0 !important;
        width:100% !important;
        height:100% !important;
        transform: rotate(0deg) !important;
        
        background: rgba(150,150,150,0.6);
     }    
    
    .content {
      display: block;
      @include rotate(45deg);
      text-align: center;
      vertical-align: middle;
      
      opacity: 0.5;
            
      transition: all 1s;
      
      @include respond-to($belowDiamond) {
        .csstransforms & {
          height: $belowDiamondSize;
          @include rotate(0);
          width: $belowDiamondSize;
        }
      }
    }
    
    .content.availableCell:hover {
      
      opacity: 1 !important;
    }
    
    .content.activateContent.hasSiteContent {
              
        display: block;      
        
        margin-top: 0 !important;
        margin-left: 0 !important;
        
        width:100% !important;
        height:100% !important;
        
        transform: rotate(0deg) !important;
        
        opacity:1 !important;
     }
     
      .visual_iframe {
        
        transition: all 1s;
                
        width:100%;
        height:100%;
      }
      
      /*.visual_iframe.notSteppedOn {
                        
        background:red;
      }*/
      
      .visual_iframe.activateContent.hasSiteContent {
        
        margin-top:2.2%;
        
        width:90%;
        height:90%;
      }
      
      .visual_iframe.notSteppedOn {
        
        display:none;
      }
           
      .middle_text {
        
        display: block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        
        color:white;
      }
      
      .prevent_iframe_click {
        
        position:absolute;
        display:block;
        
        top:0;
        left:0;
        
        width:100%;
        height:100%;
        
      }
      
      .prevent_iframe_click.activateContent.hasSiteContent {
        
        display:none !important;
        
      }
      
      .availableCell {
                
        /*background-color: rgba(150,255,150,0.7);*/
        
        box-shadow: 2px 0 23px 11px rgba(255, 255, 255, 0.3), 0px 0 1px rgba(30, 144, 255, 0.8), inset 0px 0 9px 3px rgba(255, 255, 255, 0.8);
      
        border: 8px solid rgba(255,255,255,0.5);
        
        transition: all 0.7s;
        
        cursor:pointer;
      }
      
      .availableCell.notSteppedOn {
                
        //border: 70px solid rgba(255,255,255,0.5);
        
      }
      
      .availableCell:hover {
      
        .csstransforms & {
          
          z-index: 500;
          
          transform: rotate(-45deg) scale(1.1);
          
          
          /*background: rgba(150,150,150,0.8);*/
         
          opacity:1;
          
          border: 8px solid rgba(255,255,255,0.8);
          
          /*border: 113px solid rgba(255, 255, 255, 0.3);*/
        }
        
      }
      
      .notAvailableCell {
        
        /*background-color: rgba(255,150,150,0.2);*/
                
        box-shadow: 2px 0 23px 4px rgba(255,255,255,0.2), 2px 0 6px rgba(30, 144, 255, 0.2), inset 0px 0 68px 3px rgba(255, 255, 255, 0.2);
      
        border: 8px solid rgba(255,0,0,0.1);
        
      }
      
                  
  }




